
/**
 * Navigation bar identity.
 */
// .navbar-light {
//     background-color: #fff;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);

//     .container {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     .navbar-brand {
//         padding-left: 1rem;
//         padding-right: 1rem;
//         margin-right: $spacer * 2;
//         color: #fff;
//         background-color: $brand-primary;
//         @include hover-focus {
//             color: #fff;
//         }
//         &.has-logo {
//             color: $brand-primary;
//             background-color: transparent;
//             @include hover-focus {
//                 color: $brand-primary;
//             }
//             padding-top: 0;
//         }
//     }

//     .navbar-nav {
//         .nav-item + .nav-item {
//             margin-left: $spacer * 2;
//         }
//         .nav-link {
//             font-size: $font-size-sm;
//             text-transform: uppercase;
//             letter-spacing: 1px;
//         }
//     }
// }

/**
 * Styling the dropdown menus.
 */
// .dropdown-menu {
//     font-size: 14px;
//     border-radius: 0;
//     .dropdown-item {
//         padding-top: 8px;
//         padding-bottom: 8px;
//         border-bottom: $border-width solid $dropdown-border-color;
//         &:last-child {
//             border-bottom: 0;
//         }
//     }
//     .dropdown-divider {
//         display: none;
//     }
// }

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
// #page.container-fluid {
//     padding: 0 (2 * $spacer);
// }

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
// .block-region .card-block {
//     .card-title {
//         padding-bottom: ($spacer/2);
//         font-size: 1.143rem;
//         font-weight: 600;
//         text-transform: uppercase;
//     }
// }

/**
 * Navigation.
 */
// .block_navigation,
// .block_settings {
//     .block_tree .tree_item {
//         margin: ($spacer/2) 0;
//     }
// }

/**
 * Form styles.
 */

// .form-group {
//     margin-top: ($spacer/2);
// }

// .form-inline .form-group {
//     margin-top: 0;
// }

/**
 * Sidebar navigation
 */


.coursenameicon,
#nav-drawer .nav {
    .nav-link {
        //color: $drawer-link-color;
        padding: 5px 20px;
        i {
            display: inline-block;
            font-size: 20px;
            line-height: 17px;
            margin-right: 3px;
            text-align: center;
            vertical-align: middle;
            width: 20px;
            color: #818A91;
        }
    }
    .nav-icon {
        display: inline-block;
        margin-right: 10px;
    }
    .coursename {
        line-height: 24px;
        vertical-align: top;
    }

}

.coursename-icon {
    display: inline-block;
    margin-right: 10px;
    &.defaultnav-icon {
        padding: 3px 0;
    }
    span {
        display: table-cell;
        font-size: 10px;
        line-height: 24px;
        margin-left: 3px;
        margin-right: 15px;
        text-align: center;
        vertical-align: middle;
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    &.large span {
        font-size: 24px;
        line-height: 52px;
        margin-left: 3px;
        margin-right: 15px;
        height: 52px;
        width: 52px;
        border-radius: 50%;
    }

    .icon-color-1 {
        background-color: rgba(187,124,179,0.75);
    }
    .icon-color-2 {
        background-color: rgba(142,200,154,0.75);
    }
    .icon-color-3 {
        background-color: rgba(254,230,0,0.75);
    }
    .icon-color-4 {
        background-color: rgba(247,172,111,0.75);
    }
    .icon-color-5 {
        background-color: rgba(105,172,223,0.75)
    }
    .icon-color-6 {
        background-color: rgba(174,204,83,0.75);
    }
    .icon-color-7 {
        background-color: rgba(234,80,69,0.75);
    }
    .icon-color-8 {
        background-color: rgba(251,188,67,0.75)
    }
    .icon-color-9 {
        background-color: rgba(130,146,202,0.75);
    }
}
// Page Layout

.course-content {
    .listitem {
        border-bottom: 1px solid #ddd;
        margin: 0 1rem;
    }
    .listitem:last-child {
        border-bottom: 0;
    }
    .coursemoduletitle {
        display: inline;
    }
    .courseactions {
        background-color: #FFF;
    }
}

.p-l-course {
    padding-left: 3rem !important;
}

.p-r-course {
    padding-right: 3rem !important;
}

#page {
    background-color: #FAFAFA;
}

.btn-course {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.btn-group,
.nav-item {
    .dropdown-menu {
        margin-top: -1px;
    }
    .dropdown-divider {
        display: inherit;
    }
    .dropdown-item {
        border: 0;
    }
}
.nav-stacked .nav-item {
    padding: 0.5rem 0;
}
.inline-block {
    display: inline-block;
}