
//////////////
// SETTINGS //
//////////////


/******
	SET DEFAULTS
*****/

$setting-styleloginbackgroundcolor: #3198B2 !default;


/******
	LOGIN
*****/

body.pagelayout-login { 
	background-image: url([[setting:loginbackgroundimage]]);
	background-color: $setting-styleloginbackgroundcolor;
}
