<header id="page-header" class="py-3 p-l-course pr-3">
    <div class="inline">
        <div class="media reboost">
            <div class="coursename-icon large">
                <span class="icon-color-{{iconcolornr}}">{{abbr}}</span>
            </div>
            <div class="media-body">
                <div class="pull-left">
                    <h1>{{{fullname}}}</h1>
                </div>
                {{>theme_reboost/reboost-courseheadermenu}}
                <div class="clearfix"></div>
                <div id="page-navbar">
                    {{{navbar}}}
                </div> 
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</header>