<div class="container-fluid">
    <div class="row">
        <div class="card-deck">
            {{#courses}}
                <div class="card">
                    <a href="{{{courselink}}}">
                        <img class="card-img-top img-responsive" src="{{courseimage}}" alt="Course Image name">
                    </a>
                    <div class="card-block">
                        <a href="{{{courselink}}}"><h4 class="card-title">{{coursename}}</h4></a>
                        <p class="card-text">{{coursedescription}}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            {{/courses}}
        </div>
    </div>
</div>

{{#hasmorecourses}}
<div class="text-center">
<a href="{{{showallcoursesurl}}}" class="btn btn-default">{{#str}}frontpage:showallcourses, theme_moockie{{/str}}</a>
</div>
{{/hasmorecourses}}