<div class="courseactions pull-right">
    <div class="btn-group">
        <a class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-share-alt"></i> Share
        </a>             
        <button id="moremenu" type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moremenu">
            <a class="dropdown-item" href="#">Filters</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Backup</a>
            <a class="dropdown-item" href="#">Restore</a>
            <a class="dropdown-item" href="#">Import</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Reset</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Publish as LTI tools</a>
            <a class="dropdown-item" href="#">Recycle bin</a>
            <a class="dropdown-item" href="#">Default activity completion</a>
            <a class="dropdown-item" href="#">Bulk edit activity completion</a>
        </div>
    </div>
</div>