<header id="page-header" class="p-1">
    {{{contextheader}}}
    <div id="page-navbar">
        {{{navbar}}}
        {{{pageheadingbutton}}}
    </div>
    <div id="course-header">
        {{{courseheader}}}
    </div>
</header>